@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'PlatformRegular';
  src: url('/fonts/Platform-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'PlatformMedium';
  src: url('/fonts/Platform-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'PlatformBold';
  src: url('/fonts/Platform-Bold.otf') format('opentype');
}

@theme inline {
  --font-platform-regular: 'PlatformRegular', 'sans-serif';
  --font-platform-medium: 'PlatformMedium', 'sans-serif';
  --font-platform-bold: 'PlatformBold', 'sans-serif';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: rgb(3, 55, 133);
  --color-primary-grayish: rgb(60, 100, 160);
  --color-primary-dark: rgb(2, 36, 87);
  --color-secondary: rgb(242, 114, 33);
  --color-secondary-dark: rgb(217, 101, 29);
  --color-accent: #4a90e2;
  --color-accent-dark: #3a80d2;

  /* Definir sombras de texto personalizadas */
  --text-shadow-black: 2px 2px 1px rgba(0, 0, 0, 1); /* Sombra negra */
}

.text-shadow-black {
  text-shadow: var(--text-shadow-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
